/*
	on the background being a linear gradient, go to the desired colour on color-hex.com 
	pick the colour two shades darker for the second colour.
*/

/*eceweekhacked2017*/
	.eceweekhacked2017 {
		background: linear-gradient(to bottom right, #112188, #0a1351) fixed;  
	}
	#eceweekhacked2017 {
		color: rgba(199, 199, 199, 0.68); 
	}
	#eceweekhacked2017 a {
		color: rgb(255, 189, 56) !important;
	}

/*AUcourses*/
	.AUcourses {
		background: linear-gradient(to bottom right, #D4B890, #6C233D) fixed; 
	}
	#AUcourses {
		color: rgba(0,0,0,0.5);
	}
	#AUcourses a {
		color: rgba(0,0,0,0.8) !important;
	}

#reactlessons {
	/*background: no-repeat url(http://daynin.github.io/clojurescript-presentation/img/react-logo.png); */
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #e8e8e8; /*#2D2D2D;*/
	color: #8e8e8e; /*#61DAFB;*/ 
}

#makeover {
	background: no-repeat url(../img/proj/proj-makeover.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #EFD281; 
	color: #ED4F67;
}

#testingproj {
	background: no-repeat url(https://smartbear.com/SmartBear/media/images/product/category/icon-testing.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #339922; 
	color: #1A3D57; 
}

#dbhospitalapp {
	background: no-repeat url(../img/proj/proj-database.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #8e8e8e;
	color: #09FDFB;
}

/*howtocompe*/
	.howtocompe {
		background: linear-gradient(to bottom right, #E4E6E5, #b6b8b7) fixed; 
	}
	#howtocompe {
		color: #1B4610;
	}
	#howtocompe a {
		color: #1B4610 !important;
	}

#dbnormalizerapp {
	background: no-repeat url(../img/proj/proj-database.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #8e8e8e;
	color: #09FDFB;
}

#cloudycar {
	background: no-repeat url(https://raw.githubusercontent.com/CMPUT301F16T12/CloudyCrewImages/master/logo/car_big.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #135FAB;  /*#237e7c;*/
	color: #fff; /*#ffbd38;*/
}

#d3tutorial {
	background: no-repeat url(../img/proj/proj-d3tutorial.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #7f3ea5;
	color: #f5844b !important;
	height: inherit;
}

#C301as1 {
	background: no-repeat url(../img/proj/proj-c301as1.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #B0BEC5;
	color: #4d8e33 !important;
	height: inherit;
}

#ECEW17 {
	background: no-repeat url(../img/proj/proj-ecew17.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #112188;
	color: #ffbd38 !important;
	height: inherit;
}

#CEClub {
	background: no-repeat url(../img/proj/proj-compe.jpg);
	background-size: 320px;
	background-position: right bottom;
	background-color: #1A450F;
	color: #fff !important;
	height: inherit;
}

#pkb {
	background: no-repeat url(http://static.tumblr.com/fbd123d7de3c1a39808782fd22c9bcc4/av0ntqq/raHoae6j0/tumblr_static_94teqiw5i3wokg0g4www4s8sk.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #222222;
	color: #fff !important;
	height: inherit;
}

#shoutbox2 {
	background: no-repeat url(../img/proj/proj-shoutbox2.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #e3dacf;
	color: #663560 !important;
	height: inherit;
}

#dra {
	background: no-repeat url(../img/proj/proj-rdf.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: black; 
	color: white !important;
	height: inherit;
}

#fire {
	background: no-repeat url(../img/proj/proj-fire.jpg);
	background-size: 320px;
	background-position: right bottom;
	background-color: #b3afae;
	color: black !important;
	height: inherit;
}

/*eceweekhacked2015*/
	.eceweekhacked2015 {
		background: linear-gradient(to bottom right, #237E7C, #1c6463) fixed;  
	}
	#eceweekhacked2015 {
		color: rgba(199, 199, 199, 0.68); 
	}
	#eceweekhacked2015 a {
		color: #ffbd38; !important;
	}

#ciao {
	background: no-repeat url(../img/proj/proj-ciao.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #374ca5; 
	color: white !important;
	height: inherit;
}

#rdf {
	background: no-repeat url(../img/proj/proj-rdf.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: black; 
	color: white !important;
	height: inherit;
}

#reviews {
	background: no-repeat url(../img/proj/proj-reviews.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #2c3e50; 
	color: white !important;
	height: inherit;
}

#senti {
	background: no-repeat url(../img/proj/proj-senti.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #222222; 
	color: white !important;
	height: inherit;
}

#conn4 {
	background: no-repeat url(../img/proj/proj-connectfour.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #0088ff;
	color: white !important;
	height: inherit;
}

#shoutbox {
	background: no-repeat url(../img/proj/proj-Shoutbox!.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #283e50;
	color: white !important;
	height: inherit;
}

#tetris {
	background: no-repeat url(../img/proj/proj-Arduino.jpg);
	background-size: 320px;
	background-position: right bottom;
	background-color: black;
	color: white !important;
	height: inherit;
}

#resnet {
	background: no-repeat url(../img/proj/proj-resnet.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #b7703c; 
	color: white !important;
	height: inherit;
}

#runner {
	background: no-repeat url(../img/proj/proj-runnerrunner.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #9ec2f4;
	color: white !important;
	height: inherit;
}