.panel.eceweekhacked2016 {
	background: no-repeat url(../img/proj/proj-empty.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #e8e8e8;  /*#237e7c;*/
	color: #8e8e8e; /*#ffbd38;*/
}
.panel.makeover {
	background: no-repeat url(../img/proj/proj-makeover.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #EFD281; 
	color: #ED4F67;
}
.panel.reactlessons {
	background: no-repeat url(../img/proj/proj-empty.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #e8e8e8; 
	color: #8e8e8e;
}
.panel.howtocompe {
	background: no-repeat url(../img/proj/proj-empty.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #E4E6E5; 
	color: #81B8B9;
}

.panel.d3tutorial {
	background: no-repeat url(../img/proj/proj-d3tutorial.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #7f3ea5;
	color: #f5844b !important;
	height: inherit;
}

.panel.C301as1 {
	background: no-repeat url(../img/proj/proj-c301as1.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #B0BEC5;
	color: #4d8e33 !important;
	height: inherit;
}

.panel.ECEW17 {
	background: no-repeat url(../img/proj/proj-ecew17.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #112188;
	color: #ffbd38 !important;
	height: inherit;
}

.panel.CEClub {
	background: no-repeat url(../img/proj/proj-compe.jpg);
	background-size: 320px;
	background-position: right bottom;
	background-color: #1A450F;
	color: #fff !important;
	height: inherit;
}

.panel.pkb {
	background: no-repeat url(http://static.tumblr.com/fbd123d7de3c1a39808782fd22c9bcc4/av0ntqq/raHoae6j0/tumblr_static_94teqiw5i3wokg0g4www4s8sk.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #222222;
	color: #fff !important;
	height: inherit;
}

.panel.shoutbox2 {
	background: no-repeat url(../img/proj/proj-shoutbox2.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #e3dacf;
	color: #663560 !important;
	height: inherit;
}

.panel.dra {
	background: no-repeat url(../img/proj/proj-rdf.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: black; 
	color: white !important;
	height: inherit;
}

.panel.fire {
	background: no-repeat url(../img/proj/proj-fire.jpg);
	background-size: 320px;
	background-position: right bottom;
	background-color: #b3afae;
	color: black !important;
	height: inherit;
}

.panel.eceweekhacked2015 {
	background: no-repeat url(../img/proj/proj-empty.png); 
	background-size: 320px; 
	background-position: right bottom; 
	height: inherit;
	background-color: #237E7C; 
	color: #ffbd38;
}

.panel.ciao {
	background: no-repeat url(../img/proj/proj-ciao.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #374ca5; 
	color: white !important;
	height: inherit;
}

.panel.rdf {
	background: no-repeat url(../img/proj/proj-rdf.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: black; 
	color: white !important;
	height: inherit;
}

.panel.reviews {
	background: no-repeat url(../img/proj/proj-reviews.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #2c3e50; 
	color: white !important;
	height: inherit;
}

.panel.senti {
	background: no-repeat url(../img/proj/proj-senti.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #222222; 
	color: white !important;
	height: inherit;
}

.panel.conn4 {
	background: no-repeat url(../img/proj/proj-connectfour.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #0088ff;
	color: white !important;
	height: inherit;
}

.panel.shoutbox {
	background: no-repeat url(../img/proj/proj-Shoutbox!.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #283e50;
	color: white !important;
	height: inherit;
}

.panel.tetris {
	background: no-repeat url(../img/proj/proj-Arduino.jpg);
	background-size: 320px;
	background-position: right bottom;
	background-color: black;
	color: white !important;
	height: inherit;
}

.panel.resnet {
	background: no-repeat url(../img/proj/proj-resnet.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #b7703c; 
	color: white !important;
	height: inherit;
}

.panel.runner {
	background: no-repeat url(../img/proj/proj-runnerrunner.png);
	background-size: 320px;
	background-position: right bottom;
	background-color: #9ec2f4;
	color: white !important;
	height: inherit;
}