@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Montserrat);



#hero {height: 100%; text-align: center;}
#hero .container {height: 100%;}

#about { height:initial; }
#about .container {width: 80%; bottom:50px; margin:0px auto; }
@media only screen and (max-width: 630px) {
    #about .container {height: initial; width: 99%;}
}
#about .cardtext {width: 90%;line-height: 140%; padding-top: 2%;}

#bottom {background: url('../img/dark-bg.jpg') fixed; color: #FFF; background-size: cover;}


/* Elements */
    html,body {
        height: 100%;
        width: 100%; 

        background-color: #F8F8FA; 
        color: #2C453B
    }
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .element {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    @media only screen and (min-width: 830px) {
        .row {
            width: 70%;
        }
    }
    hr {width: 100px;border: 2px solid;}

/* Text Style */
    * {font-family: 'Raleway', 'Open Sans', 'Helvetica', sans-serif; margin: 0;}
    .upper {text-transform: uppercase;}

    .title {font-family: 'Montserrat', 'Open Sans', 'Helvetica', sans-serif; text-transform: uppercase; color: #2C453B; 
        font-size: 4.84rem; line-height: 110%; margin: 2.1rem 0 1.68rem 0; font-weight: 800; 
    }
    .titlecolour { color: #2C453B; }

    .sub.title {color: #487161; font-size: 3.56rem; margin: 1.78rem 0 1.424rem 0; font-weight: 400; }
    .subtitlecolour { color: #487161; }

    .text {font-family: 'Raleway', 'Open Sans', 'Helvetica', sans-serif; color: black; 
        font-size: 1.64rem; line-height: 140%; margin: 0.82rem 0 0.656rem 0; 
    }
    .textcolour { color: black; }

    .sub.text {font-size: 1rem; line-height: 110%; margin: 0.5rem 0 0.4rem 0; }

/* Figures */
    figure i {
        font-size: 65px !important;
    }

    @media only screen and (min-width: 528px) { 
        figure i { font-size: 95px !important; }
    }

    figure figcaption {
        text-align: center;
    }

    /* Bottom Section - Main Links */
        #bottom .main_links .main_link figure i {
            color: white; 
        }

        #bottom .main_links .main_link figure:hover {
            border-radius: 60px;
            box-shadow: 0px 0px 30px 30px white;
            background-color: white;
            color: #007E60; 
        }
        #bottom .main_links .main_link figure:hover i {
            color: #007E60; 
        }
        
        @media only screen and (min-width: 528px) { 
            #bottom .main_links .main_link {
                width: 25% !important;
                margin-left: auto;
                left: auto;
                right: auto;
            }

            #bottom .main_links .main_link figure {
                margin: 0px !important;
            }
        }

        @media only screen and (max-width: 528px) {
            #bottom figure.rightside { margin-left: 15px; }

            #bottom figure.leftside { margin-right: 15px; }
        }

    /* Bottom Section - Quick Links */
        .quick_links { 
            margin-bottom: 0px; 
            font-size: 2rem;
            letter-spacing: 0.5rem; 
        }

        .quick_links a {
            color: white !important; 
        }

        .quick_links a:hover .fa {
            border-radius: 50px; 
            box-shadow: -3px 0px 15px 15px #007E60; 
            background-color: #007E60; 
        }

        .quick_links .fa-envelope-o {
            font-size: 2.5rem; 
        }

/* Logo */
    #logo {height: 200px; width:200px; position: relative; margin: 0 auto;}
    #logo img {width: inherit; position: absolute; left: 0; right: 0;}

/* Toys */

    .toy #Artboard {
        stroke: #007E60 !important; 
    }
    .toy {
        width: 150%; 
        height: 25%;
    }
    @media only screen and (max-width: 1228px) {
        .toy {
            width: 175%; 
            height: 20%;
        }
    }
    @media only screen and (max-width: 960px) {
        .toy {
            width: 200%; 
            height: 15%;
        }
    }
    @media only screen and (max-width: 960px) {
        .toy {
            width: 150%; 
        }
    }
    @media only screen and (max-width: 630px) {
        .toys {
            width: 90%; 
        }
        .toy {
            width: 150%; 
        }
    }
    @media only screen and (max-width: 600px) {
        .toy {
            width: 100%; 
            height: 10%; 
        }
    }

