@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Montserrat);



#hero {background: #007E60; height: 100%;}
#hero .container {height: 100%;}

#about {background: white; background-color:#007e60; height:initial; }
#about .container {width: 80%; bottom:50px; margin:0px auto; }
@media only screen and (max-width: 630px) {
    #about .container {height: initial; width: 99%;}
}
#about .cardtext {width: 90%;line-height: 140%; padding-top: 2%;}

#bottom {background: url('../img/dark-bg.jpg') fixed; color: #FFF; background-size: cover;}


/* Elements */
    html,body {
        height: 100%;
        width: 100%
    }
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .element {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    @media only screen and (min-width: 830px) {
        .row {
            width: 70%;
        }
    }
    hr.green {width: 100px;border: 2px solid #007e60;}
    hr.white {width: 100px;/*border: 2px solid #fff;*/ margin-bottom: 1.424rem;}

/* Text Style */
    * {font-family: 'Raleway', 'Open Sans', 'Helvetica', sans-serif; margin: 0;}
    .upper {text-transform: uppercase;}
    .title {font-family: 'Montserrat', 'Open Sans', 'Helvetica', sans-serif;}

    .greentext{color:#007e60;}
    .whitetext{color:#fff;}

/* Figures */
    figure i {
        font-size: 65px !important;
        color: #007e60;
    }

    @media only screen and (min-width: 528px) { 
        figure i { font-size: 95px !important; }
    }

    figure figcaption {
        text-align: center;
    }

    /* Bottom Section - Main Links */
        #bottom .main_links .main_link figure:hover {
            border-radius: 60px;
            box-shadow: 0px 0px 30px 30px white;
            background-color: white;
            color: #007E60; 
        }
        
        @media only screen and (min-width: 528px) { 
            #bottom .main_links .main_link {
                width: 25% !important;
                margin-left: auto;
                left: auto;
                right: auto;
            }

            #bottom .main_links .main_link figure {
                margin: 0px !important;
            }
        }

        @media only screen and (max-width: 528px) {
            #bottom figure.rightside { margin-left: 15px; }

            #bottom figure.leftside { margin-right: 15px; }
        }

    /* Bottom Section - Quick Links */
        #bottom .quick_links { margin-bottom: 0px; }

        #bottom a.whitetext:hover {
            border-radius: 50px; 
            box-shadow: 0px 0px 15px 15px #007E60; 
            background-color: #007E60; 
        }

/* Logo */
    #logo {height: 200px; width:200px; position: relative;}
    #logo img {width: inherit; position: absolute;}

/* Toys */

    .toy #Artboard {
        stroke: #007E60 !important; 
    }
    .toy {
        width: 150%; 
        height: 25%;
    }
    @media only screen and (max-width: 1228px) {
        .toy {
            width: 175%; 
            height: 20%;
        }
    }
    @media only screen and (max-width: 960px) {
        .toy {
            width: 200%; 
            height: 15%;
        }
    }
    @media only screen and (max-width: 960px) {
        .toy {
            width: 150%; 
        }
    }
    @media only screen and (max-width: 630px) {
        .toys {
            width: 90%; 
        }
        .toy {
            width: 150%; 
        }
    }
    @media only screen and (max-width: 600px) {
        .toy {
            width: 100%; 
            height: 10%; 
        }
    }

