/* Main Heading */
.mainH {
    color: black;
    font-size: x-large;
    font-family: "raleway", sans-serif;
}

/* Section Heading */
.sectionH {
    color: darkgray;
    font-size: large;
}

/* Funky Heading */
.funkyH {
    color: greenyellow;
    font-style: italic;
}

/* Copy */
.copy {
    font-size: 1vw;
    color: #999999;
    font-weight: 300;
}
    @media screen and (max-width: 500px) {
        .intro .copy {
            font-size: x-small;
        }
    }

/* Funky Copy */
.funkycopy {
    font-size: small;
    color: greenyellow;
    font-weight: 600;
    font-style: italic; 
}

/* Main Heading text "imma product maker" */
.intro .mainH {
    font-size: 7vw; 
}
    @media screen and (max-width: 500px) {
        .intro .mainH {
            font-size: 6vw;
        }
    }